<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<!--配置一个名称为log4net的结点-->
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>

	<log4net>
		<!-- ConversionPattern 解释
    %m(message):输出的日志消息，如ILog.Debug(…)输出的一条消息
    %n(new line)：換行
    %d(datetime):输出当前语句运行的时刻 
    %r(run time):输出程序从运行到执行到当前语句时消耗的毫秒数 
    %t(thread id):当前语句所在的线程ID
    %p(priority): 日志的当前优先级别，即DEBUG、INFO、WARN…等
    %c(class):当前日志对象的名称
    %L：输出语句所在的行号
    %F：输出语句所在的文件名
    %-数字：表示该项的最小长度，如果不够，则用空格填充
    -->

		<!--<root>
      -->
		<!--(高) OFF > FATAL > ERROR > WARN > INFO > DEBUG > ALL (低) -->
		<!--
      <level value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>-->

		<logger name="myLogger">
			<level value="ALL"/>
			<appender-ref ref="RollingLogFileAppender" />
			<!--<appender-ref ref="AdoNetAppender" />-->
		</logger>

		<!--定义输出到控制台命令行中-->
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="Log4NetTest.MyLayout">
				<param name="ConversionPattern" value="日志时间：%d %n日志级别：%-5p %n用 户 ID：%Property{UserID} %n用户姓名：%Property{UserName} %n日志信息：%Property{Message} %n异常信息：%exception %n%n" />
			</layout>
		</appender>

		<!--定义输出到windows事件中-->
		<appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
			<layout type="Log4NetTest.MyLayout">
				<param name="ConversionPattern" value="日志时间：%d %n日志级别：%-5p %n用 户 ID：%Property{UserID} %n用户姓名：%Property{UserName} %n日志信息：%Property{Message} %n异常信息：%exception %n%n" />
			</layout>
		</appender>

		<!--定义输出到文件中-->
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<!--文件夹的位置(默认根目录)-->
			<param name="File" value="Log\\"></param>
			<param name="AppendToFile" value="true"></param>

			<!--动态生成文件名-->
			<param name="StaticLogFileName" value="false"></param>

			<!--以日期命名-->
			<rollingStyle value="Date"/>
			<param name="DatePattern" value="yyyyMMdd&quot;.log&quot;"></param>

			<!--使用Unicode编码-->
			<Encoding value="UTF-8" />

			<!--文件夹保留log的数量。value=-1为不限制-->
			<param name="MaxSizeRollBackups" value="100"></param>

			<!--每个文件限制大小-->
			<param name="MaximumFileSize" value="1GB"></param>

			<!--控制Appender的输出格式-->
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%property{log4net:HostName} %p   %d{yyyy-MM-dd HH:mm:ss} %property{log4net:UserName} %m %n%exception"></param>
			</layout>

			<!--使用最小锁定模型（minimal locking model），以允许多个进程可以写入同一个文件 -->
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		</appender>

		<!--定义输出到数据库-->
		<appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
			<!--日志缓存写入条数-->
			<bufferSize value="1" />
			<!--日志数据库连接串-->
			<connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			<connectionString value="data source=.;initial catalog=OA;integrated security=false;persist security info=True;User ID=sa;Password=sa" />
			<!--日志数据库脚本-->
			<commandText value="INSERT INTO SysLog ([Date],[Thread],[Level],[Logger],[Message],[Exception],[CRUser]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception,@cruser)" />
			<parameter>
				<parameterName value="@log_date" />
				<dbType value="DateTime" />
				<layout type="log4net.Layout.RawTimeStampLayout"></layout>
			</parameter>
			<parameter>
				<parameterName value="@thread" />
				<dbType value="String" />
				<size value="255" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%thread" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@log_level" />
				<dbType value="String" />
				<size value="10" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%level" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@logger" />
				<dbType value="String" />
				<size value="255" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%logger" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@message"/>
				<dbType value="String"/>
				<size value="4000"/>
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%message"/>
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@exception" />
				<dbType value="String" />
				<size value="4000" />
				<layout type="log4net.Layout.ExceptionLayout" />
			</parameter>
			<!--自定义-->
			<parameter>
				<parameterName value="@cruser"/>
				<dbType value="String" />
				<size value="20" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{CRUser}" />
				</layout>
			</parameter>
		</appender>

		<appender name="LogSmtpAppender" type="log4net.Appender.SmtpAppender">
			<authentication value="Basic"></authentication>
			<username value="misapemail.sz"></username>
			<password value="SZsendemail123"></password>
			<smtpHost value="szrelay.spilsz.com.cn"></smtpHost>
			<from value="szvap529@spil.com.cn"></from>
			<to value="youny.yin@spil.com.cn"></to>
			<subject value="任务计划CheckSysUser执行异常"></subject>
			<bufferSize value="2048"></bufferSize>
			<lossy value="true"></lossy>
			<!-- 下面的定义， 就是 日志级别 大于 WARN 的， 才发邮件.  -->
			<evaluator type="log4net.Core.LevelEvaluator">
				<threshold value="ERROR"/>
			</evaluator>
			<!-- 下面是 定义邮件的格式 -->
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%property{log4net:HostName} %p %d{yyyy-MM-dd HH:mm:ss} %property{log4net:UserName} %m %n%exception" />
			</layout>
		</appender>
	</log4net>
</configuration>
